body{
    margin:0;
    padding:0;
    background-color: rgb(228, 238, 247);
    display:flex;
    justify-content: center;
    font-family:'Trebuchet MS', Arial, sans-serif
}
.app{
background-color: rgb(189, 210, 228);
box-shadow: rgba(0,0,0,0.4) 0 4px 26px, rgba(0,0,0,0.07) 0 0 0 1px;
border-radius:10px;
padding:5px;
width:700px;
margin-top: 30px;

}

.button-container,.info-container{
    display:flex;
    align-items: center;
    
}

.button-container button{
    margin:0 5px;
    padding:5px 10px;
    border-radius: 12px;
    background-color: transparent;
    font-size: 13px;
}

.edit{
    border:1.5px solid rgb(20, 117, 30);
    color: rgb(20, 117, 30);
    background-color: transparent;
    width:80px;
}

.edit:hover{
    background-color: rgb(223, 244, 223);
}

.delete{
    border:1.5px solid rgb(67, 36, 240);
    color: rgb(67, 36, 240);
    background-color: transparent;
    width:80px;

}

.delete:hover{
    background-color: rgb(206, 206, 243);
}

.create-button{
    border:1.5px solid rgb(246, 113, 113);
    color: rgb(219, 62, 62);
    background-color: transparent;

}

.create-button:hover{
    color:white;
    background-color: rgb(177, 64, 64);

}

.sign-out{
    border:1.5px solid rgb(15, 12, 12);
    background-color: transparent;

}

.sign-out:hover{
    color:white;
    background-color: rgb(66, 64, 64);

}


.list-header{
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom: rgba(0,0,0,0.1) 1px solid;

}


/*List Item*/

.list-item{
    width:100%;
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:10px 0;
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.08) 0 0 0 1px;
   

}

.tick{
    padding:10px;
}

 .tick path{
    fill:none;
    stroke:#100;
    stroke-miterlimit: 10;
    stroke-width:30px;

}

